# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations

# VSCode related
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# DevTools related
devtools_options.yaml

# Private related
private/*
!private/README.md